@page
@model WebRzrPgAppUser.Pages.PhoneBook.IndexModel
@{
}
@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "Phone Book";
}

<h1>Phone Book</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Phone != null)
            @foreach (var item in Model.Phone)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
