@model IEnumerable<UseCases.API.Dto.PhoneDto>

@{
    ViewData["Title"] = "Phone Book";
}

<h1>Phones</h1>
<ul>
    <li>
        <a asp-action="RegisterUser" asp-controller="Authenticate">Регистрация пользователя с правом создания новой записи</a><br/>
    </li>
    <li>
        <a asp-action="LoginUser" asp-controller="Authenticate">Вход для пользователя с правом создания новой записи</a>
    </li>
</ul>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="AdminDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
